body {
	background-color: #d5e0ea;
}

#main_container {
	width:800px; 
	height:475px; 
	margin: 0 auto; 
}

#add_main_div {
	width:500px; 
	height:475px; 
	margin: 0 auto; 
}

#map_area {
	width:800px; 
	height:400px; 
	background-color:white; 
	margin: 0 auto;
}

#location_filter_container {
	border-style: solid;
    border-width: 1px;
	background-color:white;
	margin: 0 auto; 
	overflow-x: scroll;
}

#sign_up_container {
	width:400px; 
	height:142.5px; 
	background-color:white; 
	float:left;
}

#agenda_container {
	width:400px; 
	height:475px; 
	background-color:white; 
	float:left;
	overflow-y: scroll;
}

#filter_container {
	width:400px; 
	height:332.5px; 
	background-color:white; 
	float:left; 
	overflow-y: scroll;
}

#myevents_container {
	width:500px; 
	height:500px; 
	background-color:white; 
	margin: 0 auto; 
	overflow-y: scroll;
}

#sign_up_container {
	width:400px; 
	height:142.5px; 
	background-color:white; 
	float:left;
}

.hgroup {
	width:800px; 
	height:95px; 
	background-color:white;
	margin: 0 auto; 
}

.event_div {
	position: relative;
	background-color: white;
	height:100px; 
	overflow: hidden;
	border-style: solid;
    border-width: 1px;
	text-overflow: ellipsis;
}

.event_div_link {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

p.link {
	margin: 0;
}
